* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000;
    color: white;
    height: 100dvh;
    overflow: hidden;
}

.container {
    /* border: 2px solid red; */
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 20px;
}

header.return {
    display: flex;
    justify-content: space-between;
}

.re-bt {
    background-color: white;
    color: #000;
    text-align: center;
    padding: 0.7em 1em;
    border-radius: 0 0 30px 0;
    font-size: 2em;
    cursor: pointer;
    border: none;
}

header.return h1 {
    text-align: center;
    font-size: 5dvh;
    padding: 0 1em 0 0;
    margin: auto;
}

.icon {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 30px;
    padding: 4dvh;
    width: 25dvh;
    height: 25dvh;
}

img {
    width: 15dvh;
    height: 15dvh;
}

.price {
    background-color: #D9D9D9;
    color: #000;
    border-radius: 20px;
    font-size: 3dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20dvh;
    width: 35dvh;
    margin: 0 auto;
}

.confirm-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10B95F;
    color: #000;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 10dvh;
    width: 16dvh;
    height: 6dvh;
    font-size: 1.8dvh;
}