* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #000;
    color: white;
    height: 100dvh;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.language-switch {
    display: flex;
    align-items: center;
    gap: 1dvh;
    align-self: flex-end;
    font-size: 2dvh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #727070;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.logo {
    text-align: center;
    display: flex;
    gap: 2dvh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-shop {
    width: 10dvh;
    max-width: 100%;
}

.logo h1 {
    font-size: 8dvh;
    font-weight: bold;
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 7dvh;
    width: 100%;
    align-items: center;
    padding-bottom: 20dvh;
}

.btn1,
.btn2 {
    display: flex;
    background-color: white;
    color: #6750A4;
    padding: 2dvh 2dvh;
    border: none;
    border-radius: 12px;
    font-size:  2dvh;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    max-width: 30dvh;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.table,
.food {
    width: 5dvh;
    height: auto;
}

.beer-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.beer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30dvh;
    /* ขนาดยืดหยุ่นตามจอ */
    transform: rotate(-30deg);
    /* ไม่หมุนแล้ว */
    z-index: -1;
    opacity: 0.5;
}

/* Responsive fallback */
/* @media (max-width: 480px) {

    .btn1,
    .btn2 {
        font-size: 14px;
        padding: 12px 16px;
    }

    .logo h1 {
        font-size: clamp(24px, 8vw, 50px);
    }

    .beer {
        transform: rotate(-30deg);
    }
} */